<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: black;
    }
    .image-container {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }
    .image-container img {
      max-width: 100%;
      height: 85%;
    }
    .centered-button {
      position: absolute;
      bottom: 10%;
    }
  </style>
  <title>Game Over</title>
</head>
<body>

  <div class="image-container">
    <p style="color: white; text-align: center" class="display-6">{{ winner }} Has Won!!!</p>

    <img src="../static/images/GameOver.jpg" alt="Game Over">

    <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg centered-button">Back To Homepage</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
